main {
    position: relative;
    width: 100%;
    max-width: 100%;
}

.main-carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 554px;
    max-height: 554px;
}

.carousel-cell-white-space {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 20px;
    max-height: 20px;
}

.carousel-cell {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 554px;
    max-height: 554px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flickity-page-dots {
    bottom: 10px !important;
}

.carousel-cell-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: -1;
}

.carousel-cell-bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.carousel-cell-content {
    position: relative;
    width: 780px;
    max-width: 780px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.carousel-header span {
    font-size: 50px;
    line-height: 1;
    text-align: center;
    width: 100%;
    max-width: 100%;
    display: block;
}

.carousel-text p {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}

.carousel-text a {
    color: #fff;
}

.flickity-prev-next-button.previous {
    left: 5% !important;
}

.flickity-prev-next-button.next {
    right: 5% !important;
}

.flickity-prev-next-button {
    border-radius: 0 !important;
}

.flickity-prev-next-button>svg {
    fill: #fff !important
}

.flickity-button {
    background: hsla(0,0%,100%, 0.4) !important;
}

.flickity-page-dots .dot {
    background: #fff !important;
}

/* text */

.main-text {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

.main-text-content {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.main-text-big-w-s {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 80px;
    max-height: 80px;
}

.main-text-average-w-s {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 25px;
    max-height: 25px;
}

.main-text-small-w-s {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 12px;
    max-height: 12px;
}

.main-text-content h1 {
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.main-text-content p,
.main-text-content h2 {
    color: #666;
}

.main-text-content p {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.main-text-content h2 {
    font-size: 22px;
}

.main-text-content a {
    color: #1779b9;
}

.img-text {
    position: relative;
    display: flex;
}

.img-text>div:first-child {
    width: 50%;
    max-width: 50%;
}

.img-text>div:last-child {
    position: relative;
    display: flex;
    width: 50%;
    max-width: 50%;
}

.img-text img{
    width: 410px;
    height: 276px;
    margin-left: 20px;
}


@media (max-width: 1680px) {

    .carousel-cell,
    .main-carousel  {
        height: 485px;
        max-height: 485px;
    }

}


@media (max-width: 1440px) {

    .carousel-cell,
    .main-carousel   {
        height: 416px;
        max-height: 416px;
    }
}

@media (max-width: 1280px) {

    .carousel-cell,
    .main-carousel   {
        height: 369px;
        max-height: 369px;
    }
}

@media (max-width: 1024px) {

    .carousel-cell,
    .main-carousel  {
        height: 295px;
        max-height: 295px;
    }

}

@media (max-width: 1000px) {
    .carousel-header span {
        font-size: 35px;
    }

    .flickity-prev-next-button {
        display: none !important; 
    }

    .img-text {
        flex-direction: column;
    }

    .img-text>div:first-child {
        order: 2;
        width: 100%;
        max-width: 100%;
    }

    .img-text>div:last-child {
        justify-content: center;
        width: 100%;
        max-width: 100%;
    }

    .img-text img {
        margin: 0;
    }
}

@media (max-width: 768px) {

    .carousel-header span {
        font-size: 28px;
    }

    .carousel-cell,
    .main-carousel   {
        height: 221px;
        max-height: 221px;
    }

    .carousel-cell-content {
        width: 98%;
        max-width: 98%;
    }
}

@media (max-width: 500px) {

    .carousel-cell,
    .main-carousel   {
        height: 119px;
        max-height: 119px;
    }

   .carousel-cell-white-space {
       display: none;
   }

   .carousel-text {
       display: none;
   }

   .carousel-header span {
        font-size: 18px;
    }

    .img-text img {
        width: 100%;
    }

    .main-text-content h1 {
        font-size: 24px;
        text-align: justify;
    }

    .main-text-big-w-s {
        height: 40px;
        max-height: 40px;
    }
}